@font-face {
    font-family: "Raleway-VariableFont_wght";
    src: url('fonts/Raleway-VariableFont_wght.ttf');
}
  
body {
    font-family: "Raleway-VariableFont_wght" !important;
}

.photo:hover{
    transform: scale(1.1);
    z-index: 9999;
}

#zoomContainer {
    overflow: hidden;
}

#zoomedImg {
    transform-origin: center center;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
